# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
dist
out
.turbo

# Environment
.env
.env.local
.env.*.local

# IDE / OS
.idea
.DS_Store
*.log

# Cloudflare
.wrangler

# Misc
*.tsbuildinfo
coverage
